@(habitant: Habitant)

<div class="container">
    <div class="row">
        <div class="container col-sm-6">
            <div class="row">
                <div class="container col-sm-3">
                    <p><b>Name: </b></p>
                </div>
                <div class="container col-sm-3">
                    <p>@habitant.name</p>
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-3">
                    <p><b>Surname: </b></p>
                </div>
                <div class="container col-sm-3">
                    <p>@habitant.surname</p>
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-3">
                    <p><b>Patronymic: </b></p>
                </div>
                <div class="container col-sm-3">
                    <p>@habitant.patronymic</p>
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-3">
                    <p><b>Birthday: </b></p>
                </div>
                <div class="container col-sm-3">
                    <p>@habitant.birthday</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <p><b>Work history: </b></p>
            </div>
        </div>
    </div>
</div>
