@(page: String, isLoggedIn: Boolean, account: Account, loginForm: Form[models.LoginFormData])


<!--script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" type="text/javascript"></script-->

@main(page, isLoggedIn, account) {
<div class="wrapper doc">
<!--div class="container"-->
    @loginform(routes.LoginController.postLogin(), loginForm("username"), loginForm("password"))
</div>
}